{% extends "layouts/main.html" %}

{% block pageTitle %}
Refer immediate family to come to the UK – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Refer immediate family to come to the UK (Afghan Citizens Resettlement Scheme)",
  serviceUrl: "#",
  navigation: [
   
  ]
}) }}
{% endblock %}

{% block beforeContent %}


<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      BETA
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}

<a href="where-should-we-send-your-decision" class="govuk-back-link">Back</a>

<br>
<br>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Check your referral
      </h1>

      <h2 class="govuk-heading-m">
        Referrer's details
      </h2>

    <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Biometric residence permit number
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date of birth
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Who is completing this form?
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>
    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      What is your full name?
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Is this {{data ['full-name']}}'s email address?
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Can you provide a telephone number?
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>
    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      What is your address?
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>
    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
</dl>

  <br>
  <br>

  <h2 class="govuk-heading-m">
        Family you want to refer to come to the UK
      </h2>

  <br>

      <h3 class="govuk-heading-m">
        Partner
        <div class="govuk-heading__actions">
      <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> remove</span></a>
    </div>
      </h3>

    <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Partner's full name
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>

  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Telephone number
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>

  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email address
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>
    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date of birth
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Partner's current address
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Partner's living situation
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>
    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Rely on you for support?
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>
    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Not evacuated together because
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>
    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
</dl>

<br>
<br>

<h2 class="govuk-heading-m">
        Additional person
        <a class="govuk-heading__actions" href="#">Remove<span class="govuk-visually-hidden">remove</span></a>
      </h2>

    <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Person's full name
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>

  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Person's telephone number
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>

  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date of birth
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>
    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Person's current address
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Person's living situation
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Rely on you for support?
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>
    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Not evacuated together because
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>
    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Why are you applying to bring them?
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>
    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
</dl>

<br>
<br>

<h2 class="govuk-heading-m">
        Files uploaded
      </h2>

    <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      birth-certificate.jpg
    </dt>
    <dd class="govuk-summary-list__value">
      
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> name</span></a>
    </dd>

  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      mypassport.png
    </dt>
    <dd class="govuk-summary-list__value">
      
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> name</span></a>
    </dd>

  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      document-3.pdf
    </dt>
    <dd class="govuk-summary-list__value">
      
    </dd>
    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
</dl>

  <br>
  <br>
  
  <h2 class="govuk-heading-m">
        Notes
      </h2>

    <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Evidence notes
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>

  </div>
</dl>

  <br>
  <br>

<h3 class="govuk-heading-m">
        Where to send your decision
      </h3>

    <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Where should we send your decision?
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
</dl>

<br>
<br>

<a href="declaration"
<button type="submit" class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
</a>

&nbsp;&nbsp;

<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Save and exit
</button>

  </div>

{% endblock %}
