{% extends "layouts/main.html" %}

{% block pageTitle %}
  Refer immediate family to come to the UK (Afghan citizens) – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Refer immediate family to come to the UK (Afghan citizens)",
  serviceUrl: "#",
  navigation: [
   
  ]
}) }}
{% endblock %}

{% block beforeContent %}


<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      BETA
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}

<a href="who-is-responsible-for-this-child" class="govuk-back-link">Back</a>

<br>
<br>

  <div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="event-name">
      Guardian's details
    </label>
  </h1>

<p class="govuk-body govuk-!-width-three-quarters">Tell us about the person who is legally responsible for this child. This can be their biological parent or adopted parents.</p>

<br>

<div class="govuk-form-group">
  <label class="govuk-label" for="partners-name">
    Guardian's full name
  </label>
  <input class="govuk-input govuk-!-width-three-quarters" id="partners-name" name="partnersName" type="text">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="partners-date-of-birth">
    Guardian's date of birth. If they do not have a date of birth, enter an accurate guess
  </label>

    <div id="passport-issued-hint" class="govuk-hint">
      For example, 27 3 1990
    </div>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="partners-support">
    Is anyone else responsible for this child?
  </label>


  <br>

  <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="partner" name="partner" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="partner">
          Yes
        </label>
      </div>
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="partner-2" name="partner" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="partner-2">
          No
        </label>
      </div>

<br>
<br>

<a href="family-you-want-to-apply-to-bring-to-the-uk"
<button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>
</a>

&nbsp;&nbsp;

<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Save and exit
</button>

  </div>

  </div>

{% endblock %}
