{% extends "layouts/main.html" %}

{% block pageTitle %}
  Apply to bring family to the UK (Afghan citizens) – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Apply to bring immediate family to the UK (Afghan Citizens Resettlement Scheme)",
  serviceUrl: "#",
  navigation: [
   
  ]
}) }}
{% endblock %}

{% block beforeContent %}


<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      BETA
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}

<span class="govuk-caption-xl">Afghan Citizens Resettlement Scheme Pathway 1</span>
<h1 class="govuk-heading-xl govuk-!-width-three-quarters">Apply to bring immediate family to the UK</h1>

<p class="govuk-body govuk-!-width-three-quarters">The Afghan Citizens Resettlement Scheme (ACRS) provides a safe and legal way for some of the most vulnerable and at-risk people from Afghanistan to come to the United Kingdom and rebuild their lives.</p>

<p class="govuk-body govuk-!-width-three-quarters">Pathway 1 is for people evacuated or called forward under Operation PITTING, the UK military evacuation from Afghanistan.</p>

<h2 class="govuk-heading-m">Who can apply</h2>

<p class="govuk-body govuk-!-width-three-quarters">Only people who have been invited can use this service. This is normally Pathway 1 Afghan nationals evacuated under Operation PITTING.</p>

<h2 class="govuk-heading-m">Who you can apply to bring</h2>

<p class="govuk-body govuk-!-width-three-quarters">You can apply to bring <a href="">immediate family members</a>. You can also apply to bring <a href="">additional family members in exceptional circumstances</a>.</p>

<h2 class="govuk-heading-m">How the application works</h2>

<p class="govuk-body govuk-!-width-three-quarters">Use this form to submit your application. The Home Office will then check if the family in your application are eligible.</p>

<p class="govuk-body govuk-!-width-three-quarters">You can save your progress and return at any time. We will store your application for 3 months after you start. After 3 months you will lose any progress.</p>

<div class="govuk-warning-text govuk-!-width-three-quarters">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    You must sign in to your application before 23:59 on 27 August 2024. The form will close to new applications after this date.
  </strong>
</div>

<p class="govuk-body govuk-!-width-three-quarters">We will sign you out if you don’t do anything for 1 hour. You will lose any unsaved progress.</p>

<h2 class="govuk-heading-m">Signing in to your application</h2>

<p class="govuk-body govuk-!-width-three-quarters">To sign in to your application, you will need:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>your date of birth (on your biometric residence permit card)</li>
    <li>your biometric residence permit number or your unique application number</li>
    <li>an email address you can access</li>
  </ul>

  <h2 class="govuk-heading-m">What you will need</h2>

<p class="govuk-body govuk-!-width-three-quarters">To complete your application, you will need:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>personal details of family you are applying to bring</li>
    <li>personal details of your family that live in the UK</li>
    <li>your own personal details (name, date of birth, contact details)</li>
    <li><a href="">evidence to support your application</a></li>
  </ul>

  <br>
  <br>

<a href="how-do-you-want-to-sign-in" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>

  </div>

{% endblock %}
