{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    <span class="govuk-caption-l" id="last-updated">
      Last updated: 31/05/2024
    </span>
    </h1>

    {% extends "layouts/main.html" %}

{% set pageName="Home" %}


{% block beforeContent %}

{% endblock %}

<script>
  const today = new Date();
  const dateString = document.getElementById("last-updated").innerText.substr(14,10);
  const [day, month, year] = dateString.split("/");
  const dateObject = new Date (`${year}-${month}-${day}`)
  const currentDate = new Date();
  const timeDifference = currentDate - dateObject
  const daysDifference = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
  const weeksDifference = Math.floor(daysDifference / 7);
  const monthsDifference = Math.floor(daysDifference / 30);

  let result;
  if (daysDifference === 0) {
    result = 'today';
  } 
  else if (daysDifference < 14) {
    result = daysDifference + " day(s) ago";
  } else if (weeksDifference < 4 ) {
    result = weeksDifference + " weeks ago";
  } else {
    result = monthsDifference + " month(s) ago"
  }
  document.getElementById("last-updated").innerHTML = "Last updated: " + result
</script>

{{ govukTaskList({
  idPrefix: "prototype-list",
  items: [
    {
      title: {
        text: "ACRS referral form"
      },
      hint: {
        text: "Eligibility form for the Afghan Citizens Resettlement Scheme"
      },
      href: "/ACRS-index",
      status: {
        tag: {
          text: "Inactive",
          classes: "govuk-tag--grey"
        }
      }
    },
    {
      title: {
        text: "TLF: Landlords Make a Report"
      },
      hint: {
        text: "Allows landlords to report illegal tenants (part of Top Level Forms migration)"
      },
      href: "/LMAR-index",
      status: {
        tag: {
          text: "Inactive",
          classes: "govuk-tag--grey"
        }
      }
    }
  ]
}) }}

{% endblock %}
