{% extends "layouts/main.html" %}

{% block pageTitle %}
  Apply to bring family to the UK (Afghan citizens) – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Apply to bring immediate family to the UK (Afghan citizens)",
  serviceUrl: "#",
  navigation: [
   
  ]
}) }}
{% endblock %}

{% block beforeContent %}


<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      BETA
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}

<a href="other-family-members-details" class="govuk-back-link">Back</a>

<br>
<br>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Family in your application
      </h1>

      <h2 class="govuk-heading-m">
        Partner
        <a class="govuk-link-heading" href="#">Remove<span class="govuk-visually-hidden">remove</span></a>
      </h2>

    <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Partner's name
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>

  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Telephone number
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>

  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email address
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>
    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date of birth
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Partner's address
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Partner's living situation
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>
    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Rely on you for support?
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>
    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Not evacuated together because
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>
    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
  </dl>

  <br>

  <h2 class="govuk-heading-m">
        Child
        <a class="govuk-link-heading" href="#">Remove<span class="govuk-visually-hidden">remove</span></a>
      </h2>

    <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Child's full name
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>

  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date of birth
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>

  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Child's address
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>
    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Child's living situation
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Rely on you for support?
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Not evacuated together because
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>
    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
</dl>

<br>

<h2 class="govuk-heading-m">
        Child
        <a class="govuk-link-heading" href="#">Remove<span class="govuk-visually-hidden">remove</span></a>
      </h2>

    <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Child's full name
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>

  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date of birth
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>

  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Child's address
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>
    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Living situation
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Not evacuated together because
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>
    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
</dl>

<a href="add-childs-details-2"
<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Add another child
</button>
</a>

<br>
<br>

<h2 class="govuk-heading-m">
        Other family member
        <a class="govuk-link-heading" href="#">Remove<span class="govuk-visually-hidden">remove</span></a>
      </h2>

    <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Person's full name
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>

  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Person's telephone number
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>

  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date of birth
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>
    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Person's current address
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Person's living situation
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>

    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Rely on you for support?
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>
    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Not evacuated together because
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>
    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Why are you applying to bring them?
    </dt>
    <dd class="govuk-summary-list__value">
      Value
    </dd>
    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
</dl>

<a href="other-family-members-details"
<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Add another family member
</button>
</a>

<br>
<br>
<br>

<a href="do-you-have-family-members-that-live-in-the-uk"
<button type="submit" class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
</a>

&nbsp;&nbsp;

<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Save and exit
</button>

  </div>

{% endblock %}
