{% extends "layouts/main.html" %}

{% block pageTitle %}
  Apply to bring family to the UK (Afghan citizens) – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Apply to bring immediate family to the UK (Afghan citizens)",
  serviceUrl: "#",
  navigation: [
   
  ]
}) }}
{% endblock %}

{% block beforeContent %}


<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      BETA
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="event-name">
      How do you want to sign in?
    </label>
  </h1>

<br>

<p class="govuk-body govuk-!-width-three-quarters">Please select whether you want to sign in using your Biometric residence permit (BRP) or your Unique application number (UAN).</p>

<br>
<form class="form" action="/signin" method="post">

{{ govukRadios({
  name: "signin",
  value: data['signin'],
  fieldset: {
  },
  items: [
    {
      value: "BRP",
      text: "BRP"
    },
    {
      value: "UAN",
      text: "UAN"
    }
  ]
}) }}

<br>
<br>

{{ govukButton({
  text: "Continue"
}) }}

{{ govukButton({
  text: "Save and exit",
  classes: "govuk-button--secondary"
}) }}

</form>

</div>

{% endblock %}
