{% extends "layouts/main.html" %}

{% block pageTitle %}
  Apply to bring family to the UK (Afghan citizens) – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Apply to bring immediate family to the UK (Afghan citizens)",
  serviceUrl: "#",
  navigation: [
   
  ]
}) }}
{% endblock %}

{% block beforeContent %}


<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      BETA
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}

<a href="upload-evidence" class="govuk-back-link">Back</a>

<br>
<br>

  <div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="event-name">
      Upload evidence
    </label>
  </h1>

<br>

<p class="govuk-body govuk-!-width-three-quarters">There is no requirement to add evidence, but adding it will support your application. You can add anything that you think is relevant.</p>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What you can provide as evidence
    </span>
  </summary>
  <div class="govuk-details__text">
    Some examples of evidence might include:
    <ul>
      <li>Tazkira cards</li>
      <li>passports</li>
      <li>birth certificates</li>
      <li>marriage certificates</li>
      <li>adoption certificates</li>
      <li>family photos</li>
      <li>school reports</li>
      <li>bank transfers between you and the family member</li>
      <li>social media messages between you and the family member</li>
      <li>medical records</li>
    </ul>

    <br>

    We accept other types of evidence that are not in this list.
  </div>
</details>

<div class="govuk-form-group">
  <label class="govuk-label" for="file-upload-1">
    Upload a file
  </label>
  <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
</div>

<p class="govuk-body">You must upload a translation for evidence that is not in English.</p>

<br>
<br>

<h2 class="govuk-heading-m">
        Files uploaded
      </h2>

<dl class="govuk-summary-list govuk-!-width-two-thirds">
  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      birth-certificate.jpg
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Delete</a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      mypassport.png
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Delete</a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      document-3.pdf
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Delete</a>
    </dd>
  </div>
</dl>

<br>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="evidence-i-cannot-provide">
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="no-evidence" name="no-evidence" type="checkbox" value="evidence">
        <label class="govuk-label govuk-checkboxes__label" for="evidence">
          There is some evidence I cannot provide
        </label>
      </div>

</div>

<br>
<br>
<br>

<a href="where-should-we-send-your-decision"
<button type="submit" class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
</a>

&nbsp;&nbsp;

<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Save and exit
</button>

  </div>

  </div>

{% endblock %}
