{% extends "layouts/main.html" %}

{% block pageTitle %}
  Apply to bring family to the UK (Afghan citizens) – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Apply to bring immediate family to the UK (Afghan citizens)",
  serviceUrl: "#",
  navigation: [
   
  ]
}) }}
{% endblock %}

{% block beforeContent %}


<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      BETA
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}

<a href="upload-evidence" class="govuk-back-link">Back</a>

<br>
<br>

  <div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="event-name">
      Upload evidence
    </label>
  </h1>

<br>

<p class="govuk-body govuk-!-width-three-quarters">Include any evidence to support your claim.</p>

<p class="govuk-body">You cannot submit:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>files larger than 25 MB</li>
  <li>videos</li>
  <li>sexually explicit content</li>
  <li>content depicting violence, severe injuries, or death</li>
</ul>

<div class="govuk-form-group">
  <label class="govuk-label" for="file-upload-1">
    Upload a file
  </label>
  <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
</div>

<br>
<br>

<h2 class="govuk-heading-m">
        Files uploaded
      </h2>

<dl class="govuk-summary-list govuk-!-width-two-thirds">
  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      birth-certificate.jpg
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Delete</a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      mypassport.png
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Delete</a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      document-3.pdf
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Delete</a>
    </dd>
  </div>
</dl>

<br>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="evidence-i-cannot-provide">
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="no-evidence" name="no-evidence" type="checkbox" value="evidence">
        <label class="govuk-label govuk-checkboxes__label" for="evidence">
          There is evidence I cannot provide
        </label>
      </div>

</div>

<br>
<br>
<br>

<a href="where-should-we-send-your-decision"
<button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>
</a>

&nbsp;&nbsp;

<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Save and exit
</button>

  </div>

  </div>

{% endblock %}
