{% extends "layouts/main.html" %}

{% block pageTitle %}
  Refer immediate family to come to the UK (Afghan citizens) – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Refer immediate family to come to the UK (Afghan Citizens Resettlement Scheme)",
  serviceUrl: "#",
  navigation: [
   
  ]
}) }}
{% endblock %}

{% block beforeContent %}


<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      BETA
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}

<a href="partner-you-want-to-apply-to-bring-to-the-uk" class="govuk-back-link">Back</a>

<br>
<br>

  <div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="event-name">
      Children aged under 18
    </label>
  </h1>

<br>

<p class="govuk-body govuk-!-width-three-quarters">You can refer your own children to come to the UK, but they must have been born on or after 28 August 2003.</p>

<p class="govuk-body govuk-!-width-three-quarters">The children you refer must not live independently or have their own family.</p>

<br>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Are you referring your children to come to the UK?
      </h1>
    </legend>

    <br>

    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="partner" name="partner" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="partner">
          Yes
        </label>
      </div>
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="partner-2" name="partner" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="partner-2">
          No
        </label>
      </div>
      
      
    </div>
  </fieldset>
</div>

</div>

<br>

<a href="add-childs-details"
<button type="submit" class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
</a>

&nbsp;&nbsp;

<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Save and exit
</button>

  </div>

  </div>

{% endblock %}
