{% extends "layouts/main.html" %}

{% block pageTitle %}
Refer immediate family to come to the UK (Afghan citizens) – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Refer immediate family to come to the UK (Afghan Citizens Resettlement Scheme)",
  serviceUrl: "#",
  navigation: [
   
  ]
}) }}
{% endblock %}

{% block beforeContent %}


<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      BETA
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}

<a href="information-you-have-given-us" class="govuk-back-link">Back</a>

<br>
<br>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Who is completing this form?
      </h1>

    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="signIn-2" name="signIn" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
        <label class="govuk-label govuk-radios__label" for="signIn-2">
          Someone helping the referrer
        </label>
        <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint">
          For example, friends or family
        </div>
        </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="signIn-2" name="signIn" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
        <label class="govuk-label govuk-radios__label" for="signIn-2">
          An immigration advisor
        </label>
        <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint">
          You must be authorised to act on behalf of the referrer
        </div>
      </div>
    </div>
  </fieldset>

<br>
<br>

<a href="helpers-details"
<button type="submit" class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
</a>

&nbsp;&nbsp;

<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Save and exit
</button>

  </div>

{% endblock %}
